{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Hi! i'm your StudFriend</title>
    <link href="{% static 'homepage/style.css' %}" rel="stylesheet"  type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
</head>

<body>
    <div class="sidenav">
        <div class="halo">
            <h1 style="font-size: 18px;">Halo</h1>
        </div>
        <a href="{% url 'homepage:index' %}"><u>Home</u></a>
        <a href="{% url 'schedule:index' %}">Jadwal</a>
        <a href="{% url 'todo:index' %}">To Do List</a>
        <a href="{% url 'nilai:index' %}">Nilai</a>
        <a href="{% url 'notes:index' %}">Notes</a>
        <button type="button" class="btn btn-outline-dark">Log out</button>
    </div>
    {% block content %}
    {% endblock %}

</body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>