{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="container">
        <div class="welcome-message">
            <h2>
                Dengan web studfriend, kini kamu dapat mengikuti <br>
                pembelajaran online dengan baik. Kamu dapat <br>
                mencatat jadwal, membuat To-do list, mencatat <br>
                penilaian harian, dan membuat catatan singkat.
            </h2>
        </div>
        <div class="stay-productive">
            <h1>
                Yuk, tetap produktif selama<br> <i>online class</i>!
            </h1>
        </div>
    </div>
</body>
{% endblock %}
</html>