{% extends 'todo/base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="container">
        <h1>To-Do List</h1>
        <div class="row">
            <div class="col-sm col-form">
                <div class = "container-sm container-form">
                    <div class="row row-button">
                        <div class="w-100"></div>
                        <div class="col-sm col-form">
                            <form action='' method="post">
                                {% csrf_token %}
                                {{ formtambah.as_p }}
                                <div class="col-sm col-tambah">
                                    <a href ="{% url 'todo:tambah' %}"><button type="submit" class="btn btn-success tambah-btn">tambah</button></a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-sm col-todo">
                <div class = "container-sm container-todo">
                    {% if activity %}
                        {% for activities in activity %}
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <ul>
                                        <li>
                                            {{activities.activity}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <a href="{% url 'todo:delete' activities.pk %}"><button class="btn btn-success hapus-btn" type="submit"><i class='fa fa-chevron-down' style='font-size:18px'></i></button></a>
                                </td>
                            </tr>
                        </table>
                        
                        {% endfor %}
                    {% else %}
                        <h3>Tambahkan Todo list mu!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>