*{
  font-family: 'ABeeZee';
}
.container{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 230px;
  /* ini nanti menyesuaikan sama gambar yang untuk background */
  
  
}
.halo{
  background-color: black;
  color: white;
  height: 170px ;
  padding-top: 0;
  position: relative;
  top: 0;
  padding: 45px 8px 6px 30px;
}
.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  border-style: solid solid none none;
  border-width: 2px;
  overflow-x: hidden;
  
}

.sidenav a {
  padding: 20px 8px 6px 30px;
  text-decoration: none;
  font-size:18px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color:black;
}
.btn-outline-dark{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%,0);
  color: black;
}