{% extends 'schedule/base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="container center_div offset-md-4"> 
        <form method="POST" class="post-form" action="">  
            {% csrf_token %}  
        <div class="container">  
    <br>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Masukkan Jadwal-Pelajaran Kamu!</h3>  
        </div>  
    </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Schedule Name:</label>  
        <div class="col-sm-4">  
        {{ form.jadwalpelajaran }}  
        </div>  
    </div>  
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Deskripsi:</label>  
        <div class="col-sm-4">  
        {{ form.deskripsi }}  
        </div>  
    </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label" data-target-input="nearest" >Tanggal:</label>  
        <div class="col-sm-4">  
        {{ form.datetime }}  
        
        </div>  
    </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Lokasi:</label>  
        <div class="col-sm-4">  
        {{ form.lokasi }}  
        </div>  
    </div>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <button type="submit" class="btn btn-primary" id="buto">Submit</button>  
        </div>  
    </div>  
        </div>  
    </form> 
    </div> 


        <div id="tabil" class="container"> 
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <th>Jadwal</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>
                        <a href="/jadwalmu/{{ i.jadwalpelajaran }}">
                            <p>{{ i.jadwalpelajaran }}</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        
    </div>
       

<div class="bekgron">
</div>

    </body>
  
    {% endblock %}
    </html>
